
body{
    width: 80%;
    margin:auto ;
    background-color: lightpink;
    
}
.intro{
   
    background-image: url(../img/atarde.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding : 50px; 
    min-height: 10px;
    color: blue;
    margin-top: 20px;
}

.intro h1{
font-style: italic;
font-size: xx-large;
}

.content img {

    width: 200px;
    height: 200 px;
    
}

.content {
    margin-top: 20px;
   
}

.content p{
    padding : 40px;
}
.content h2{
    padding-left: 40px;
    font-style: oblique;
    
}


.holl{

    height: 250px;
}

.moni{
    height: 250px;
}

.footer img{

    height: 150px;
}

.footer h3{
    font-style: oblique;
    color: brown;
}




